<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Node-app-cc by JJ</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Node-app-cc</h1>
        <h2>Aplicación de ejemplo de node para Heroku basado en el de Getting started</h2>
        <a href="https://github.com/JJ/node-app-cc" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>
<a id="aplicación-de-ejemplo-para-el-curso-de-nube" class="anchor" href="#aplicaci%C3%B3n-de-ejemplo-para-el-curso-de-nube" aria-hidden="true"><span class="octicon octicon-link"></span></a>Aplicación de ejemplo para el curso de nube</h1>

<h2>
<a id="requisitos" class="anchor" href="#requisitos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Requisitos</h2>

<ol>
<li>
<p>Instalar grunt y mocha</p>

<p>npm install -g grunt
npm install -g mocha</p>
</li>
<li>
<p>Crear la base de datos</p>

<p>grunt creadb</p>
</li>
</ol>

<h1>
<a id="node-js-getting-started-original-docs-below" class="anchor" href="#node-js-getting-started-original-docs-below" aria-hidden="true"><span class="octicon octicon-link"></span></a>node-js-getting-started (original docs below)</h1>

<p>A barebones Node.js app using <a href="http://expressjs.com/">Express 4</a>.</p>

<p>This application support the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node on Heroku</a> article - check it out.</p>

<h2>
<a id="running-locally" class="anchor" href="#running-locally" aria-hidden="true"><span class="octicon octicon-link"></span></a>Running Locally</h2>

<p>Make sure you have <a href="http://nodejs.org/">Node.js</a> and the <a href="https://toolbelt.heroku.com/">Heroku Toolbelt</a> installed.</p>

<div class="highlight highlight-sh"><pre>$ git clone git@github.com:heroku/node-js-getting-started.git <span class="pl-c"># or clone your own fork</span>
$ <span class="pl-s3">cd</span> node-js-getting-started
$ npm install
$ npm start</pre></div>

<p>Your app should now be running on <a href="http://localhost:5000/">localhost:5000</a>.</p>

<h2>
<a id="deploying-to-heroku" class="anchor" href="#deploying-to-heroku" aria-hidden="true"><span class="octicon octicon-link"></span></a>Deploying to Heroku</h2>

<pre><code>$ heroku create
$ git push heroku master
$ heroku open
</code></pre>

<h2>
<a id="documentation" class="anchor" href="#documentation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Documentation</h2>

<p>For more information about using Node.js on Heroku, see these Dev Center articles:</p>

<ul>
<li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started with Node.js on Heroku</a></li>
<li><a href="https://devcenter.heroku.com/articles/nodejs-support">Heroku Node.js Support</a></li>
<li><a href="https://devcenter.heroku.com/categories/nodejs">Node.js on Heroku</a></li>
<li><a href="https://devcenter.heroku.com/articles/node-best-practices">Best Practices for Node.js Development</a></li>
<li><a href="https://devcenter.heroku.com/articles/node-websockets">Using WebSockets on Heroku with Node.js</a></li>
</ul>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/JJ/node-app-cc/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/JJ/node-app-cc/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/JJ/node-app-cc"></a> is maintained by <a href="https://github.com/JJ">JJ</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>
